.AboutContent {
    padding: 80px 0 30px 0;
}

.secondTitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #363636;
}

.firstTitle {
    padding-bottom: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #0142EC;

}

.text-content {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
    color: #5F5F5F;
}


.aboutContentBox {
    position: relative;
}

.vertical-line {
    height: 40px;
    background: #0142EC;
    width: 3px;
    position: absolute;
    top: 0px;
    left: 50%;
}
.totalCount{
    margin: 30px auto;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
color: #363636;
}
.chartTitle{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 130%;
text-align: center;
color: #363636;
margin: 30px auto;
}
.reyting{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;

color: #43743D;
}
.consAsia{
    font-size: 22px;
    font-family: Open Sans;
    font-weight: 600;
}
@media screen and (max-width:990px) {
    .firstTitle {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        text-align: center;
        color: #0142EC;
        padding-bottom: 20px;
    }
    .secondTitle{
        font-size: 14px;
        font-weight: bold;
    }
    .text-content{
        font-size: 14px;

    }
    .chartTitle{
        font-size: 22px;
    }
    .consAsia{
        margin-left: 10px;
        font-size: 18px;
    }
    .reyting{
        margin-left: 10px;
        font-size: 15px;

    }
    .totalCount{
        margin-left: 10px;
        text-align: center;
    }
}