.bodyComponent{

background: black;
}
.menuNav2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menyuLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}