.aboutSection {
    padding: 110px 0px;
}

.o-kompany {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    text-align: right;
    color: #363636;
}

.cons-asia {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
    text-align: right;
    color: #0142EC;
}

.content-tekst {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: #5F5F5F;
}

.content-tekst {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: #5F5F5F;
}

.content-tekst .strelka {
    color: #0142EC;
    font-size: 20px;
    font-weight: bold;

}

.o-kompany-content-box .linkk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;

    color: #0142EC;
}

.about-left-image img {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 100%;
    z-index: 2;

}

.titleCart {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #363636;

}

.descCart {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #5F5F5F;
}

.aboutTexts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cartImageAbout {
    margin: 0 14px;
}

.about-left-image {
    float: right;
    max-width: 400px;
    max-height: 470px;
}

.blueBoldLine {
    position: absolute;
    top: 95px;
    width: 140px;
    height: 20px;
    background: #0142EC;
    z-index: 1;

}

.cartItems {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* lign-items: center;
    background: linear-gradient(to bottom, red 20%,blue 20%,blue 80%,red 80%);
} */
.inColRow {
    align-items: center;
}

.backHetrilik {
    position: relative;
    background: linear-gradient(to bottom, #fff 20%, #F7F7FA 20%, #F7F7FA 80%, #fff 80%);
}

.musorchiziq {
    bottom: -120px;
    left: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: 3px;
    height: 190px;
    background: #0142EC;
}

@media screen and (max-width: 990px) {
    .aboutSection {
        padding: 50px 0 !important;
    }

    .o-kompany {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: #363636;
        text-align: left;
    }

    .cons-asia {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px !important;
        line-height: 120%;
        color: #0142EC;
        text-align: left;
        margin-bottom: 20px;
    }

    .content-tekst {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;

        color: #5F5F5F;
    }

    .backHetrilik {
        background: linear-gradient(to bottom, #fff 20%, #F7F7FA 20%, #F7F7FA 80%, #F7F7FA 80%);
    }

    .linkk {
        float: right;
        margin-bottom: 20px;
    }

    .about-left-image {
        max-width: 252px;
        max-height: 300px;
        float: left;
    }

    .blueBoldLine {
        right: 25px;
        top: 105px;
    }

    .inColRow .col-lg-5 {
        margin-bottom: 50px;
    }

    .cartItems {
        justify-content: flex-start !important
    }

    .musorchiziq {
        position: absolute;
        left: 94%;
    }

    .aboutTexts {
        max-width: 230px;
    }
}