.FooterRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footerMenu {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.FooterSection {
    background: #363636;
    padding: 40px 0;
    text-transform: uppercase;
}

.consAsia2012 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
    color: #FFFFFF;
    padding-left: 20px;
    margin-bottom: 0;
}

.footerBottom {
    background: #282828;
    padding: 7px 0 6px 0;
}

.left-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: #DCE1ED;
    text-align: left;
    margin: 0px;

}
.footerRow{
    align-items: center;
}

.right-text {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #DCE1ED;
    text-decoration: none;
    text-align: right;

}
.right-text a {
    color: #DCE1ED;
}
.menuNavFooter{
    justify-content:flex-end ;
}
@media screen and (max-width:990px) {
    .mediaOrder{
        order: 2;
        margin-top: 25px;
    }
    .navLinkFooter {
        width: 100%;
        text-align: center;
    }
    .footer-left{
        flex-direction: column;
    }
    .consAsia2012{
        margin-top: 14px;
    }
    .left-text{
        text-align: center!important;
        margin: 5px auto;
        color: rgb(110, 110, 110);
    }
    .right-text{
        text-align: center!important;
        margin: 5px auto;
    }
}